[submodule "submodules/api"]
	path = submodules/api
	url = https://github.com/vimc/montagu-api
[submodule "submodules/db"]
	path = submodules/db
	url = https://github.com/vimc/montagu-db
[submodule "submodules/contrib-portal"]
	path = submodules/contrib-portal
	url = https://github.com/vimc/montagu-webapps
[submodule "submodules/admin-portal"]
	path = submodules/admin-portal
	url = https://github.com/vimc/montagu-webapps
[submodule "submodules/cert-tool"]
	path = submodules/cert-tool
	url = https://github.com/vimc/montagu-cert-tool
[submodule "submodules/proxy"]
	path = submodules/proxy
	url = https://github.com/vimc/montagu-proxy
[submodule "montagu-bb8"]
	path = montagu-bb8
	url = https://github.com/vimc/montagu-bb8
[submodule "submodules/static"]
	path = submodules/static
	url = https://github.com/vimc/montagu-static
[submodule "submodules/task-queue"]
	path = submodules/task-queue
	url = https://github.com/vimc/montagu-task-queue
