version: '2'
services:
  api:
    image: ${MONTAGU_REGISTRY}/montagu-api:${MONTAGU_API_VERSION}
    depends_on:
      - db
    volumes:
      # If password_group is 'production' then emails will be really sent, and this
      # volume will remain empty. Otherwise emails are written to disk here.
      - emails:/tmp/montagu_emails
  reporting_api:
    image: ${MONTAGU_REGISTRY}/montagu-reporting-api:${MONTAGU_REPORTING_API_VERSION}
    volumes:
      - orderly_volume:/orderly
    depends_on:
      - orderly
  db:
    image: ${MONTAGU_REGISTRY}/montagu-db:${MONTAGU_DB_VERSION}
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/pgdata
  contrib:
    image: ${MONTAGU_REGISTRY}/montagu-contrib-portal:${MONTAGU_CONTRIB_PORTAL_VERSION}
    depends_on:
      - api
  admin:
    image: ${MONTAGU_REGISTRY}/montagu-admin-portal:${MONTAGU_ADMIN_PORTAL_VERSION}
    depends_on:
      - api
  report:
    image: ${MONTAGU_REGISTRY}/montagu-report-portal:${MONTAGU_REPORT_PORTAL_VERSION}
    depends_on:
      - api
      - reporting_api
  proxy:
    image: ${MONTAGU_REGISTRY}/montagu-reverse-proxy:${MONTAGU_PROXY_VERSION}
    ports:
      - "${MONTAGU_PORT}:${MONTAGU_PORT}"
      - 80:80
    depends_on:
      - api
      - reporting_api
      - admin
      - contrib
      - report
    volumes:
      - vimc_website_volume:/vimc-website
    command: ${MONTAGU_PORT} ${MONTAGU_HOSTNAME}
  orderly:
    image: ${MONTAGU_REGISTRY}/montagu-orderly:${MONTAGU_ORDERLY_VERSION}
    volumes:
      - orderly_volume:/orderly
    command: --port 8321 --go-signal /orderly_go /orderly

volumes:
  db_volume:
  orderly_volume:
  vimc_website_volume:
  emails:
