version: '2.1'

# This is the recommended way of injecting common blocks into a docker
# compose file, see:
#
# https://docs.docker.com/compose/compose-file/#extension-fields
# https://github.com/docker/compose/issues/3231
#
# &log-journald defines a yaml anchor and *log-journald elsewhere
# references it - it must come early in the file.  The leading 'x-' in
# the definition is important to mark this field as an extension
# field.
x-logging: &log-journald
  driver: journald
  options:
    tag: montagu

services:
  api:
    image: ${MONTAGU_REGISTRY}/montagu-api:${MONTAGU_API_VERSION}
    restart: always
    logging: *log-journald
    depends_on:
      - db
    volumes:
      # If password_group is 'production' then emails will be really sent, and this
      # volume will remain empty. Otherwise emails are written to disk here.
      - emails:/tmp/montagu_emails
  db:
    image: ${MONTAGU_REGISTRY}/montagu-db:${MONTAGU_DB_VERSION}
    restart: always
    logging: *log-journald
    command: ${MONTAGU_DB_CONF}
    shm_size: 512M
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/pgdata
  contrib:
    image: ${VIMC_REGISTRY}/montagu-contrib-portal:${MONTAGU_CONTRIB_PORTAL_VERSION}
    restart: always
    logging: *log-journald
    depends_on:
      - api
    volumes:
      - template_volume:/usr/share/nginx/html/templates
      - guidance_volume:/usr/share/nginx/html/guidance
  admin:
    image: ${VIMC_REGISTRY}/montagu-admin-portal:${MONTAGU_ADMIN_PORTAL_VERSION}
    restart: always
    logging: *log-journald
    depends_on:
      - api
  proxy:
    image: ${VIMC_REGISTRY}/montagu-reverse-proxy:${MONTAGU_PROXY_VERSION}
    restart: always
    logging: *log-journald
    ports:
      - "${MONTAGU_PORT}:${MONTAGU_PORT}"
      - 80:80
    depends_on:
      - api
      - admin
      - contrib
    command: ${MONTAGU_PORT} ${MONTAGU_HOSTNAME}
  static:
    image: ${MONTAGU_REGISTRY}/montagu-static:${MONTAGU_STATIC_VERSION}
    restart: always
    logging: *log-journald
    volumes:
      - static_volume:/www
      - static_logs:/var/log/caddy
  mq:
    image: rabbitmq
    restart: always
    logging: *log-journald
    ports:
      - "5672:5672"
    volumes:
      - mq:/var/lib/rabbitmq
  task-queue:
    image: ${VIMC_REGISTRY}/task-queue-worker:${MONTAGU_TASK_QUEUE_VERSION}
    restart: always
    logging: *log-journald
    depends_on:
      - mq
volumes:
  static_logs:
  static_volume:
  db_volume:
  template_volume:
  guidance_volume:
  emails:
  mq:
